$global-font: 'gilroy';
$global-color: #000;
$global-size: 16px;

$font-title: 'BebasNeue';

$header-color: #fff;
$header-fonts: 'BebasNeue';
$header-descr: 'gilroy';

$about-color: #fff;
$about-title-font: 'BebasNeue';


$footer-bg-color: #3D3D3D;
$footer-color: #fff;