<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="keywords"
      content="как выехать с долгами,невыездной, арест на выезд, ограничение выезд, запрет на выезд"
    />
    <meta name="description" content='Турагентство для "не выездных"' />
    <link href="images/favicon.png" rel="icon" />
    <link rel="stylesheet" href="css/main.min.css" type="text/css" />
    <script src="js/lazysizes.min.js"></script>
    <title>{{ title }}</title>
    {{> prebody}}
  </head>
  <body>
    {{> body }}
    <script src="js/libs.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
