<section class="advantages">
    <div class="container">
        <h2 class="advantages__title title" data-aos="fade-down">
            <b>НАШИ</b> ПРЕИМУЩЕСТВА
        </h2>
        <div class="advantages__items">
            <div class="advantages__item">
                <h3 class="advantages__item-title">БЕЗОПАСНО</h3>
                <p class="advantages__item-text">Въезд в РБ происходит на автобусе на Белорусских номерах с оформлением официального приглашения на каждого пассажира. Вашей безопасности ничего не угрожает.</p>
            </div>
            <div class="advantages__item">
                <h3 class="advantages__item-title">МЫ ГАРАНТИРУЕМ</h3>
                <p class="advantages__item-text">Пассажирам с ограничением по базам ФССП СП ФНС (не зависимо от суммы исполнительного производства) даем 100% гарантию на прохождение паспортного контроля при условии приобретения услуги с сопровождением.<br><a href="https://clck.ru/KoRAL" target="_blanc">https://clck.ru/KoRAL</a></p>
            </div>
            <div class="advantages__item">
                <h3 class="advantages__item-title">ЗАКОННО</h3>
                <p class="advantages__item-text">Работаем на основании законов РФ и РБ. Без нарушения законодательств на основании  Распоряжение Правительства РФ от 27.03.2020 N 763-р (ред. от 17.08.2021) “О временном ограничении движения”. Полная юридическая информация <a href="https://clck.ru/KnumA" target="_blanc">https://clck.ru/KnumA</a></p>
            </div>
        </div>
    </div>
    <div class="advantages__aside" data-aos="fade-up-left">
        <ul class="advantages__list">
            <li class="advantages__list-item">Убываем через Национальный Аэропорт Минск</li>
            <li class="advantages__list-item">Среднее время от звонка до вылета 6 часов</li>
            <li class="advantages__list-item">Трансфер Москва-Аэропорт среднее время в пути 6:40 мин.</li>
            <li class="advantages__list-item">Работаем по индивидуальному договору</li>
            <li class="advantages__list-item">Работаем с ограничениями на вылет до 2025 года</li>
            <li class="advantages__list-item">Скидки постоянным Путешественникам</li>
            <li class="advantages__list-item">С проставлением штампа о месте дате вылета (как в любом аэропорту мира)</li>
        </ul>
    </div>
</section>