<section class="reasons" id="reasons">
    <div class="container">
        <h2 class="reasons__title title" data-aos="fade-down">
          <b>почему нам</b><br>доверяют
        </h2>
        <div class="reasons__items">
            <div class="reasons__item">
                <div class="reasons__item-wrap" data-aos="zoom-out-right">
                    <div class="reasons__item-top">более</div>
                    <div class="reasons__item-num">1900</div>
                    <div class="reasons__item-message">клиентов <span class="reasons__item-message--semibold">ВЫЕХАЛИ</span><br>в этом году</div>
                </div>
            </div>
            <div class="reasons__item" data-aos="zoom-out-left" data-aos-delay="500">
                <div class="reasons__item-wrap">
                    <div class="reasons__item-top">более</div>
                    <div class="reasons__item-num">300</div>
                    <div class="reasons__item-message">клиентов <span class="reasons__item-message--semibold">ВЫЕХАЛИ<br>ПОВТОРНО</span></div>
                </div>
            </div>
            <div class="reasons__item">
                <div class="reasons__item-wrap" data-aos="fade-up" data-aos-delay="500">
                    <div class="reasons__item-top">более</div>
                    <div class="reasons__item-num">7000</div>
                    <div class="reasons__item-message">клиентов <span class="reasons__item-message--semibold">ВЫЕХАЛИ<br>ВСЕГО</span></div>
                </div>
            </div>
        </div>
    </div>
</section>